---
import { Image } from 'astro:assets'

import PageLayout from '@/layouts/BaseLayout.astro'
import Section from '@/components/home/Section.astro'
import Card from '@/components/Card.astro'
import ProjectCard from '@/components/home/ProjectCard.astro'
import Label from '@/components/home/Label.astro'
import SkillLayout from '@/components/home/SkillLayout.astro'
import Hitokoto from '@/components/home/Hitokoto.astro'
import PostPreview from '@/components/blog/PostPreview.astro'
import Button from '@/components/Button.astro'
import { siteConfig } from '@/site-config'
import { getAllPosts, sortMDByDate } from '@/utils'

import avatar from '@/assets/avatar.png'

const languages = [
  'Html',
  'JavaScript',
  'CSS',
  'Shell'
]
const frontend = ['TypeScript', 'Vite', 'Webpack', 'Astro']
const backend = ['Vercel', 'Waline']

const MAX_POSTS = 10
const allPosts = await getAllPosts()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Home' }} highlightColor='#659EB966'>
  <div class='flex w-full flex-col gap-y-10 md:w-4/5 lg:w-5/6'>
    <section class='animate flex flex-col items-center gap-y-7'>
      <Image
        src={avatar}
        alt='profile'
        class='h-28 w-auto rounded-full border p-1'
        loading='eager'
      />

      <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-3xl font-bold'>{siteConfig.author}</h1>
        <div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
          <Label title='Beijing · China'>
            <svg class='size-5' slot='icon'>
              <use href='/icons/social.svg#mingcute-location-line'></use>
            </svg>
          </Label>
          <Label title='Github' as='a' href='https://github.com/fzk22000' target='_blank'>
            <svg class='size-5' slot='icon'>
              <use href='/icons/social.svg#mingcute-github-line'></use>
            </svg>
          </Label>
        </div>
      </div>
    </section>

    <Section title='About me'>
      <p class='text-muted-foreground'>Student / Researcher</p>
      <p class='text-muted-foreground'>
       <p>你好，我叫 chernoff没bound住，<del>之所以取这个名字， 是因为被kyq老师的随机算法作业无数次地折磨。</del></p><p>我曾经的身份是一名moer，退役之后就读于北京大学计算机系。喜欢的日常是一边拿着稿纸试图bound住算法指标的error rate，一边在 <del>四大礼包的 Lab 作业 </del>中 debug 到头秃。</p><p>我的研究兴趣主要在 网络 方向。我的梦想是能建立一套全新的网络系统，让世界上所有精彩绝伦的想法得以在此交叉汇聚。</p><p>我喜欢 connection。</p>
       <p>非常 非常 喜欢。</p>
      <div class="flex gap-x-2 mt-1">
      <img class="rounded-md border" src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fgithub.com%2Fzhuozhiyongde&count_bg=%23000000&title_bg=%23000000&icon=spacex.svg&icon_color=%23E7E7E7&title=Hits&edge_flat=true"> <img class="rounded-md border" src="https://img.shields.io/endpoint?style=flat-square&color=000000&url=https://api.codetime.dev/shield?id=20455&project=&in=0&labelColor=000000&" alt="CodeTime Badge"></div>
      </p>
      <Button title='More about me' class='w-fit self-end' href='/about' style='ahead' />
    </Section>
    {
      allPostsByDate.length > 0 && (
        <Section title='Posts'>
          <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
            {allPostsByDate.map((p) => (
              <li class='flex flex-col gap-x-2 sm:flex-row'>
                <PostPreview post={p} />
              </li>
            ))}
          </ul>
          <Button title='More posts' class='w-fit self-end' href='/blog' style='ahead' />
        </Section>
      )
    }


    <section class="flex flex-col md:flex-row md:gap-y-0 animate gap-y-5"><div class="font-semibold text-xl md:min-w-36"><h2>Education</h2></div><div class="flex flex-col gap-y-3 flex-1"><a class="transition-all border bg-primary-foreground border-border hover:border-foreground/25 hover:shadow-sm px-5 py-3 relative rounded-2xl" href=https://www.pku.edu.cn/ ><div class="flex flex-col gap-y-1.5"><div class="flex flex-col gap-y-0.5"><h2 class="font-medium text-lg">北京大学</h2><p class=text-muted-foreground> 信息与计算科学</p><p class=text-muted-foreground>August 2022 - Present</p></div><img class="absolute h-full -my-3 end-0 m-0 object-cover opacity-40 w-1/2 z-0" src=/images/PKU.svg></div></a><a class="transition-all border bg-primary-foreground border-border hover:border-foreground/25 hover:shadow-sm px-5 py-3 relative rounded-2xl" href=http://www.changjun.com.cn/ ><div class="flex flex-col gap-y-1.5"><div class="flex flex-col gap-y-0.5"><h2 class="font-medium text-lg">长郡中学</h2><p class=text-muted-foreground>1921 &amp; 数学竞赛组</p><p class=text-muted-foreground>August 2019 - July 2022</p></div><img class="absolute h-full -my-3 end-0 m-0 object-cover opacity-40 w-1/2 z-0" src=/images/changjun.svg></div></a></div></section>
    <Section title='Website List'>
      <div class='grid grid-cols-1 gap-3 sm:grid-cols-2'>
        <ProjectCard
          href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
          heading='Lorem ipsum'
          subheading='dolor sit amet, oratio ornatus explicari pro ex'
          imagePath='/src/assets/projects/alex-tyson-2BAXJ7ha74s-unsplash.jpg'
        />
        <ProjectCard
          href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
          heading='Lorem ipsum'
          subheading='dolor sit amet, oratio ornatus explicari pro ex'
          imagePath='/src/assets/projects/angelica-teran-Bk9hpaXHK4o-unsplash.jpg'
        />
        <ProjectCard
          href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
          heading='Lorem ipsum'
          subheading='dolor sit amet, oratio ornatus explicari pro ex'
          imagePath='/src/assets/projects/kseniia-zapiatkina-yATU3rg8tNI-unsplash.jpg'
        />
        <ProjectCard
          href='/projects'
          heading='More projects'
          subheading='Check out more projects'
          imagePath='/src/assets/projects/wen-qiao-g_w8I64FiO0-unsplash.jpg'
        />
      </div>
    </Section>

    <Section title='Certifications'>
      <Card
        as='a'
        heading='Lorem ipsum'
        subheading='Lorem ipsum dolor sit amet, vidit suscipit at mei. Quem denique mea id. Usu ei regione indoctum dissentiunt, cu meliore fuisset mei, vel quod voluptua ne. Ex dicat impedit mel, at eum oratio possit voluptatum. Dicat ceteros cu vim. Impetus fuisset ullamcorper pri cu, his posse iisque ad, aliquam honestatis usu id.'
        date='July 2024'
        href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
      />
    </Section>

    <Section title='Skills'>
      <SkillLayout title='Languages' skills={languages} />
      <SkillLayout title='Frontend' skills={frontend} />
      <SkillLayout title='Backend' skills={backend} />
    </Section>
  </div>

  <div
    class='mt-16 flex flex-row items-center gap-x-3 rounded-3xl border border-input px-4 py-2 text-sm shadow-sm transition-all hover:shadow-md'
  >
    <span class='relative flex items-center justify-center'>
      <span
        class='absolute inline-flex h-2 w-2 animate-ping rounded-full border border-green-400 bg-green-400 opacity-75'
      ></span>
      <span class='relative inline-flex h-2 w-2 rounded-full bg-green-400'></span>
    </span>

    <Hitokoto />
  </div>
</PageLayout>
